*{box-sizing:border-box;text-decoration:none;outline:none;margin:0;padding:0;list-style-type:none}h1{font-size:20px}h1{background-color:bisque}main{background-color:orange}/*# sourceMappingURL=main.css.map */